* {
	font-family: 'Josefin Sans', sans-serif;	
}

html {
  	background-color: #fbf8f1;
}

body {
  position: relative;
  font-size: 14px;
}

.section-title {
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #2b1808;
}

/* Navegation */
.nav-manos {
  	background-color: #fbf8f1;
}

.nav-barras {
	background-color: #fbf8f1; 
	text-decoration: none;
	opacity: 0.9;
}

.icon-bar {
  background-color: #fbf8f1;
}

.logo {
	max-height: 40px;
	max-width: 40px;
	margin-left: 37px;
	border-radius: 25px;
}
.main-pills {
	padding: 0 15px 0 15px;
  	list-style: none;
	/* position: absolute; */ 
	z-index: 1;
}
.main-pills > li {
  	margin: 20px 20px;
  	float: right;
}
.main-pills > li > a {
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #4C2A0F;
}
.main-pills > li > a:hover {
	text-decoration: none;
	color: #2b1808;

    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

/* presentation */
.presentation {
	height: 500px;
	background-image:url(/images/manos4.JPG);
	background-size:cover;
	background-position: center;
	top: 0px;
}
.presentation-info {
	padding: 0 40px 0 40px;
	position: absolute;
	top: 370px;
	left: 37px;
}
.presentation-name {
	font-size: 40px;
	text-transform: uppercase;
}
.presentation-description {
	margin-top: 20px;
	font-size: 20px;
}

/* quienes somos */
.about {
	padding: 40px 0 40px 0;
	background-color: #fbf8f1;
	font-size: 16px;
}

/* participa */
.join {
	padding: 40px 0 40px 0;
	background-color: #f9f5eb;
}

.join-options {
	align-items: center;
}

.btn-form {
	padding: 10px 20px 10px 20px;
  	font-size: 16px;
  	letter-spacing: 1px;
	border-radius: 28px;
	opacity: 0.8;
	color: #fbf8f1;
	text-align: center;
  	text-decoration: none;
	text-transform: uppercase;
	background-color: #6E5540;
	box-shadow: none !important;
}
.btn-form:hover {
	color: #fbf8f1;
	text-decoration: none;
	opacity: 0.9;
    
    -webkit-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.contact-form {
	padding: 5px 0 40px 0;
}
.error-form {
	height: 55px;
}
.contact-input {
	padding: 0 20px 20px 0;
	float: left;
}
.contact-message {
	padding-bottom: 20px;
}
.contact-message > textarea {
	resize: vertical;
}
.contact-submit {
 	margin-top: 5px;
}
.contact-submit > input {
	padding: 5px 10px 5px 10px;
  	font-size: 16px;
  	letter-spacing: 1px;
	border-radius: 20px;
	opacity: 0.8;
	color: #fbf8f1;
	text-align: center;
  	text-decoration: none;
	text-transform: uppercase;
	background-color: #6E5540;
	box-shadow: none !important;
}
.contact-submit > input:hover {
	color: #fbf8f1;
	text-decoration: none;
	opacity: 0.9;
    
    -webkit-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

/* redes */
.social {
	padding: 40px 0 40px 0;
	background-color: #fbf8f1;
}

#instafeed img {
	padding: 5px;
	border-radius: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#instafeed img:hover {
	opacity: 0.9;
	filter: alpha(opacity-100);

	-webkit-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

/* refugios */
.refugios {
	padding: 40px 0 40px 0;
	background-color: #f9f5eb;
}

#map {
	height: 400px;
	width: 100%;
	box-shadow: 5px 5px 5px #888;
}

/* integrantes */
.people {
	text-align: center;
	padding: 40px 0 40px 0;
	background-color: #fbf8f1;
	font-size: 14px;
}

/* contacto */
.contact {
	padding: 20px 0 20px 0;
	background-color: #f9f5eb;
}

.contact-description {
	padding: 10px;
	display: inline;
}

.contact-description a {
	padding: 10px;
}

.contact-description img {
	max-height: 20px;
	max-width: 20px;
}

/* Extra small devices (phones, <768px) */
@media(max-width:767px) { 
	/* Navegation */
	.logo {
		z-index: 2;
		top: 5px;
		margin-left: 5px;
		position: absolute;
	}

	.main-pills > li {
		margin: 5px 10px 5px 10px;
		display: block;
    	width: 100%;
    	text-align: right;
	}	

	.main-pills > li > a {
		font-size: 14px;
	}

	/* presentation */
	.presentation {
		height: 200px;
		position: absolute;
	}
	.presentation-info {
		top: 70px;
		position: absolute;
		z-index: 1;
	}
	.presentation-name {
		font-size: 40px;
		text-transform: uppercase;
		position: absolute;
	}
	.presentation-description {
		margin-top: 20px;
		font-size: 20px;
	}

	/* participa */
	.btn-mobile {
		margin: 20px 20px 40px 20px; 
	}

	/*redes*/
	#instafeed img {
		max-width: 60px;
		max-height: 60px;
	}

	/* contacto */
	.contact-mobile {
		text-align: center;
	}

	.contact-description {
		display: block;
	}
}